/* Formattazione */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-header {
    position: fixed;
    height: 70px;
    width: 100%;
    text-align: center;
    /* background-color: transparent; */
}

.main-header nav {
    position: absolute;
    bottom: 0px;
    right: 25px;
}

.main-header nav li {
    display: inline-block;
    margin: 0 10px;
}

.main-header nav li a {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
}


/* Debug */
header.debug {
    background-color: darkmagenta;
}

.debug nav {
    background-color: teal;
}