/* Formattazione */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Intestazione - Menù di navigazione */
.main-header {
    position: fixed;
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.main-header nav {
    position: absolute;
    bottom: 0px;
    right: 25px;
}

.main-header nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}

.main-header nav li a {
    text-decoration: none;
    color: black;
}

/* Corpo della pagina */
main .box {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -20;
}

main .box h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30vh);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

main .box h2.yellow {
    color: yellow;
}

main .box h2.green {
    color: green;
}

main .box#scarpa1 {
    background-color: red;
    background-image: url(../img/01.png);
    background-position: center;
    background-repeat: no-repeat;
}

main .box#scarpa2 {
    background-color: green;
    background-image: url(../img/02.png);
    background-position: center;
    background-repeat: no-repeat;
}

main .box#scarpa3 {
    background-color: yellow;
    background-image: url(../img/03.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* Debug */
/* header.debug {
    background-color: darkmagenta;
} */

/* .debug nav {
    background-color: teal;
} */

/* .debug .box {
    background-color: firebrick;
    border: 2px dashed black;
} */